div{
    width: 100px;
    height: 100px;
}
.one{
    height: 150px;
    float: left; /*脱离文档流*/
    background-color: aquamarine;
}
.two{
    float: left;/*脱离文档流*/
    background-color: pink;
    width: 150px;
}
.three{
    float: left;
    background-color: peru;
}
.container{
    width: 300px;
    height: 600px;
    background-color: gray;
}